.checked{
    color:orange
}
body{
    background-color: rgb(177, 177, 177);
}
/*  --------------nAVbAR--------------------- */
#barrenavigation{
    background-color: rgb(8, 6, 6);
    position: fixed;
    top: 1px;
    z-index: 100;
    height: 100vh;
}
#avatar img{
    width: 85%;
    margin: 20px 0 30px 20px;
    border-radius: 50%;
}  
.nav-item p{
    color: rgb(153, 10, 10);
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
}
.nav-item a{
    display: flex; 
    justify-content: flex-end; 
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(153, 10, 10);
}
.link{
    color: white;
}
.link:hover{
    color: rgb(153, 10, 10);
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: rgb(153, 10, 10);
}
#cv a{
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
}
#mail a{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
/* ----------------presentation------------ */
#presentation{
    background-color: black;
    color: white;
    width: 50%;
    height: 10%;
    margin-bottom: 50px;
}
#bureau img{
    width: 70%;
}
#bureau{
    display: flex;
    justify-content: center;
}
/* -----------------competence -------------- */
.row h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
#competence h2{
   font-size: 20px; 
   text-align: center;
}
.etoile{
    display: flex;
    justify-content: center;
}
#atouts h2{
    font-size: 20px; 
    text-align: center;
}
.etoile p{
    padding-left: 20px;
}
.etoile i{
    padding-left: 5px;
}
.btn.btn-dark{
    width: 110px;
    height: 60px;
    vertical-align: center;
   margin-left: 550px;
   margin-top: 20px;
}
 /* -------------------------PORTFOLIO-------------------------------------- */
 #lien img{
     width: 50%;
     display: flex;
     justify-content: center;
 }
 
 
/* --------------------------EXPERIENCE------------------------------------- */

  
  /* ================ The Timeline ================ */
  
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1em 0;
    list-style-type: none;
}
  
.timeline:before {
    position: absolute;
    left: 60%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    z-index: 5;
} 
.timeline li {
    padding: 1px 0;
 }
.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.direction-l {
    position: relative;
    width: 355px;
    float: left;
    text-align: right;
 }
  
.direction-r {
    position: relative;
    width: 225px;
    float: right;
}
.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
} 
.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(153, 10, 10);
    z-index: 10;
}
.direction-r .flag:before {
    left: -40px;
}
  /* --------petite fleche blanche */
.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
 }
.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}
button.modal-btn.bg-dark{
    width: 200px;
}
#Lafoirfouille img{
     width: 100%; 
}
#Lafoirfouille h4{
    font-size: 10px;
    color: white;
}
#Lafoirfouille{
     width: 60%;
     height: auto;
}
#avs img{
 width: 100%; 
}
#avs h4{
    font-size: 10px;
    color: white;
}
#avs{
    width: 60%;
    height: auto;
}
#interimaire img{
    width: 100%; 
}
#interimaire h4{
    font-size: 10px;
    color: white;
}
#interimaire{
    width: 60%;
    height: auto;
}
#planet img{
    width: 100%; 
}
#planet h4{
    font-size: 10px;
    color: white;
}
#planet{
    width: 60%;
    height: auto;
}
#zigo img{
    width: 100%; 
}
#zigo h4{
    font-size: 10px;
    color: white;
}
#zigo{
    width: 60%;
    height: auto;
}
#multiaccueil img{
    width: 100%; 
}
#multiaccueil h4{
    font-size: 10px;
    color: white;
}
#multiaccueil{
    width: 60%;
    height: auto;
}
  
.slideinright{
    animation: slide 5s ease-in; 
}
@keyframes  slide{
    0%{
       transform: skewX(58deg) translateX(-500px);
       opacity: 0;
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20%);
        opacity: 1;
    }
    80%{
        transform: skew(0); translate: (0);
    }
    90%{
        transform: skew(-5deg);
    }
    100%{
        transform: skew(0deg);
    }
}
.slideinleft{
    animation: slides 5s ease-in;
}
@keyframes slides{
    0%{
        transform: skewX(-58deg) translateX(500px);
        opacity: 0;
     }
     60%{
         transform: translateX(0px);
     }
     62%{
         transform: skewX(0deg) translateX(-30px);
     }
     70%{
         transform: skew(20%);
         opacity: 1;
     }
     80%{
         transform: skew(0); translate: (0);
     }
     90%{
         transform: skew(5deg);
     }
     100%{
         transform: skew(0deg);
     }
}
/* --------------DIPLOME------------ */
#diplome img{
    width: 80%;
    
}
#diplome{
    display: flex;
    justify-content: center;
}
h1{
    margin-top: 100px;
}
/* ---------------loisirs------------------ */
#art img{
    width: 90%;
}
#musique img{
    width: 90%;
}
#voyage img{
    width: 90%;
}
#loisir{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 200px;
}

/* --------------------------Media query------------------------------------ */
@media(max-width: 1200px){
    #barrenavigation{
        width: 20%;
        height: 110vh;
    }
    #avatar img{
        width: 85%;
        margin: 17px 0 25px 8px;
    }  
    .nav-item p{
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .nav-item a{
        font-size: 15px;
    
    }
    #cv a{
       padding-bottom: 45px;
       font-size: 15px;
    }
    #mail a{
        font-size: 14px;
        padding-right: 7px ;
    } 
    #presentation{
        width: 60%;
        height: 10%;
        padding-left: 80px
    }

   
    
     /* -------------------------PORTFOLIO-------------------------------------- */
     #lien img{
         width: 50%;
     }
     
     
    /* --------------------------EXPERIENCE------------------------------------- */
    
      
      /* ================ The Timeline ================ */ 
    .timeline:before {
        left: 65%; 
    } 
    .direction-l {
        width: 400px;
     }
     button.modal-btn.bg-dark{
         width: 200px;
     }
    .direction-r {
        width: 200px;
    }
   
    /* --------------DIPLOME------------ */
    #diplome img{
        width: 80%; 
        display: flex;
        justify-content: center;
    }
    /* ---------------loisirs------------------ */
    #art img{
        width: 90%;
    }
    #musique img{
        width: 90%;
    }
    #voyage img{
        width: 90%;
    }
    #loisir{
        display: flex;
        margin-top: 100px;
        margin-bottom: 200px;
    }
}
@media(max-width: 990px){
    #barrenavigation{
        width: 20%;
        height: 10vh;
    }
    #avatar img{
        width: 80%;
        margin: 25px 0 15px 2px;
    }  
    .nav-item p{
        text-align: left;
        padding-top: 15px;
        font-size: 14px;
    }
    .nav-item a{
        display: flex; 
        justify-content: flex-start; 
    }
    a.nav-link{
        font-size: 13px;
    }
    #cv a{
        font-size: 12px;
    }
    #mail a{
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
    }
    /* ----------------presentation------------ */
#presentation{
    width: 70%;
    height: 10.2vh;
}
#bureau img{
    width: 70%;
}
#bureau{
    display: flex;
    justify-content: center;
}
/* -----------------competence -------------- */
.row h1{
    font-size: 35px;
}

 /* -------------------------PORTFOLIO-------------------------------------- */
 #lien img{
     width: 60%;
     display: flex;
     justify-content: center;
 }
 
 
/* --------------------------EXPERIENCE------------------------------------- */

  
  /* ================ The Timeline ================ */  
button.modal-btn.bg-dark{
    width: 150px;
}
/* ---------------loisirs------------------ */
#art img{
    width: 90%;
}
#musique img{
    width: 90%;
}
#voyage img{
    width: 90%;
}
#loisir{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}
}
@media(max-width: 798px){
    #barrenavigation{
       width: 22%;
       height: 10vh;
    }
    #avatar img{
        width: 80%;
        margin: 20px 0 30px 8px;
    }  
    
    /* ----------------presentation------------ */
    #presentation{
        width: 100%;
        height: 10.3vh;
    }
    #bureau{
        display: flex;
        justify-content: center;
        margin-left: 200px;
    }
    .nav-item p{
        text-align: left;
        padding-top: 15px;
        font-size: 11px;
    }
    /* -----------------competence -------------- */
    .row h1{
        font-size: 30px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 150px;
    }
    #competence h2{
       font-size: 20px; 
       text-align: center;
       margin-left: 100px;
    }
    .etoile{
        display: flex;
        justify-content: center;
        margin-left: 150px;
    }
    #atouts h2{
        font-size: 20px; 
        text-align: center;
        margin-left: 100px;
    }
    
     /* -------------------------PORTFOLIO-------------------------------------- */
     #lien img{
         width: 60%;
         margin-left: 10px;
     }
    /* --------------------------EXPERIENCE------------------------------------- */
    
      
      /* ================ The Timeline ================ */
   
    .timeline:before {
        left: 80%;
    } 
    .direction-l {
        position: relative;
        width: 490px;
        float: left;
        text-align: right;
     }
    .direction-r {
        position: relative;
        width: 105px;
        float: right;
    }
    
    button.modal-btn.bg-dark{
        width: 120px;
    }
    
    /* --------------DIPLOME------------ */
    #diplome img{
        width: 80%;
        margin-left: 220px;
        
    }
    #diplome{
        display: flex;
        justify-content: center;
        
    }

    /* ---------------loisirs------------------ */
    #art img{
        width: 90%;
    }
    #musique img{
        width: 90%;
    }
    #voyage img{
        width: 90%;
    }
    #loisir{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        margin-bottom: 200px;
        margin-left: 250px;
    }
    
    
}
@media(max-width: 320px){
    #barrenavigation{
        width: 22%;
        height: 10vh;
     }
     #avatar img{
         width: 50%;
         margin: 20px 0 30px 1px;
     }  
     
     /* ----------------presentation------------ */
     #presentation p{
        font-size: 10px;
     }
     #presentation h2{
        font-size: 15px;
     }
     /* -----------------competence -------------- */
     .row h1{
         font-size: 30px;
         margin-bottom: 5px;
         margin-top: 5px;
         margin-left: 180px;
     }
     #competence h2{
        font-size: 15px; 
        text-align: center;
        margin-left: 170px;
     }
     .etoile{
         display: flex;
         justify-content: center;
         margin-left: 200px;
         font-size: 5px;
     }
     #atouts h2{
         font-size: 15px; 
         text-align: center;
         margin-left: 170px;
     }
     
      /* -------------------------PORTFOLIO-------------------------------------- */
      #lien img{
          width: 60%;
          margin-left: 150px;
      }
     /* --------------------------EXPERIENCE------------------------------------- */
     
       
       /* ================ The Timeline ================ */
    
     .timeline:before {
         left: 80%;
     } 
     .direction-l {
         position: relative;
         width: 300px;
         float: left;
         text-align: right;
      }
     .direction-r {
         position: relative;
         width: 50px;
         float: right;
     }
     
     button.modal-btn.bg-dark{
         width: 120px;
     }
     
     /* --------------DIPLOME------------ */
     #diplome img{
         width: 80%;
         margin-left: 220px;
         
     }
     #diplome{
         display: flex;
         justify-content: center;
         
     }
 
     /* ---------------loisirs------------------ */
     #art img{
         width: 90%;
     }
     #musique img{
         width: 90%;
     }
     #voyage img{
         width: 90%;
     }
     #loisir{
         display: flex;
         justify-content: space-evenly;
         margin-top: 100px;
         margin-bottom: 200px;
         margin-left: 250px;
     }
    }    